{
  "quoteProps": "consistent",
  "singleQuote": true,
  "semi": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "useEditorConfig": true,
  "trailingComma": "all",
  "vueIndentScriptAndStyle": true
}
