:root {
  --bg-black: #111111;
}
#app {
  color: var(--bg-black);
}
#word-list-container {
  border: 1px var(--bg-black);
}
#input-area input {
  background: var(--bg-black);
  color: white;
}
#input-area button {
  background: var(--bg-black);
  color: white;
}
.word-list-item {
  color: var(--color-black);
}
.correct {
  color: #000000;
}
.wrong {
  color: #acacac;
}
.highlight {
  color: #0055b6;
}
