* {
  transition: all 0.5s cubic-bezier(0.17, 0.84, 0.44, 1) 0s;
}
html,
body {
  margin: 0;
  padding: 0;
}
main {
  font-family: 'Jetbrains Mono', 'PingFang SC', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  max-width: 850px;
  min-height: 100vh;
  display: flex;
  margin: 0 auto;
  flex-flow: column;
}
.abs {
  padding: 1rem 0;
}
.view {
  margin: auto;
  display: flex;
  align-items: center;
}
