/* jetbrains-mono-regular - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/jetbrains-mono-v3-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''), url('/fonts/jetbrains-mono-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/fonts/jetbrains-mono-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('/fonts/jetbrains-mono-v3-latin-regular.woff') format('woff'), /* Modern Browsers */ url('/fonts/jetbrains-mono-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('/fonts/jetbrains-mono-v3-latin-regular.svg#JetBrainsMono') format('svg');
  /* Legacy iOS */
}
* {
  transition: all 0.5s cubic-bezier(0.17, 0.84, 0.44, 1) 0s;
}
html,
body {
  margin: 0;
  padding: 0;
}
main {
  font-family: 'Jetbrains Mono', 'Nimbus Roman No9 L', source-han-serif-sc, 'PingFang SC', 'Hiragino Sans GB', 'Noto Serif SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'ST Heiti', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  max-width: 850px;
  min-height: 100vh;
  display: flex;
  margin: 0 auto;
  padding: 0 2rem;
  flex-flow: column;
}
.abs {
  padding: 1rem 0;
}
.view {
  margin: auto;
  display: flex;
  align-items: center;
}
.pointer {
  cursor: pointer;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.blur {
  filter: blur(1px);
}
