// --bg: #000;
// --major: #000;
// --input: #000;
// --sub: #000;
// --correct: #000;
// --wrong: #000;
// --highlight: #000;

#root {
  @black: rgb(5, 5, 5);
  @white: rgb(247, 247, 247);

  // Black On White
  &[data-theme='BoW'] {
    --bg: @white;
    --major: @black;
    --input: @white;
    --sub: rgb(78, 78, 78);
    --correct: @black;
    --wrong: rgb(168, 167, 167);
    --highlight: rgb(0, 67, 155);
    #input-area {
      input {
        color: var(--major);
        // border: 1.35px solid var(--major);
        // background: var(--input);
      }
    }
  }

  // White On Black
  &[data-theme='WoB'] {
    --bg: @black;
    --major: @white;
    --input: @white;
    --sub: rgb(128, 128, 128);
    --correct: @white;
    --wrong: rgb(122, 122, 122);
    --highlight: rgb(69, 142, 236);
  }

  // Olivia
  &[data-theme='Olivia'] {
    --bg: #1c1b1d;
    --major: #deaf9d;
    --input: #deaf9d;
    --sub: rgb(112, 81, 81);
    --correct: #deaf9d;
    --wrong: #88695d;
    --highlight: #de9db1;
  }

  background-color: var(--bg);

  #input-area {
    input {
      color: var(--input);
      background: var(--bg);
      // filter: sepia(20%);
      border: none;
      // outline: var(--major) solid 1px;
      border-bottom: 2px solid var(--major);
      &:focus {
        outline: none;
      }
    }
  }
  .word-list-item {
    color: var(--major);
  }
  .pinyin {
    color: var(--sub);
  }
  .correct {
    color: var(--correct);
  }
  .wrong {
    color: var(--wrong);
  }
  .highlight {
    color: var(--highlight);
  }
  nav,
  footer {
    color: var(--major);
  }
}
