#root {
  background-color: var(--bg);
}
#root[data-theme='BoW'] {
  --bg: #f7f7f7;
  --major: #050505;
  --input: #f7f7f7;
  --sub: #4e4e4e;
  --correct: #050505;
  --wrong: #a8a7a7;
  --highlight: #00439b;
}
#root[data-theme='BoW'] #input-area input {
  color: var(--major);
  border: 1.35px solid var(--major);
  background: var(--input);
}
#root[data-theme='WoB'] {
  --bg: #050505;
  --major: #f7f7f7;
  --input: #050505;
  --sub: #050505;
  --correct: #f7f7f7;
  --wrong: #7a7a7a;
  --highlight: #458eec;
}
#root[data-theme='Olivia'] {
  --bg: #1c1b1d;
  --major: #deaf9d;
  --input: #1c1b1d;
  --sub: #705151;
  --correct: #deaf9d;
  --wrong: #88695d;
  --highlight: #de9db1;
}
#root #input-area input {
  color: var(--input);
  background: var(--major);
}
#root .word-list-item {
  color: var(--major);
}
#root .pinyin {
  color: var(--sub);
}
#root .correct {
  color: var(--correct);
}
#root .wrong {
  color: var(--wrong);
}
#root .highlight {
  color: var(--highlight);
}
#root nav,
#root footer {
  color: var(--major);
}
